[project]
	description = A minification service for javascript and stylesheets supporting typescript, coffeescript, closure-compiler, uglifyjs, lessjs, cssembed, ycssmin and yuicompressor.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Markus Wolf (KnisterPeter)
[access "refs/for/refs/*"]
	read = group user/Markus Wolf (KnisterPeter)
	push = group user/Markus Wolf (KnisterPeter)
	label-Code-Review = -2..+2 group user/Markus Wolf (KnisterPeter)
	label-Verified = -1..+1 group user/Markus Wolf (KnisterPeter)
	rebase = group user/Markus Wolf (KnisterPeter)
	removeReviewer = group user/Markus Wolf (KnisterPeter)
	submit = group user/Markus Wolf (KnisterPeter)
[access "refs/heads/*"]
	read = group user/Markus Wolf (KnisterPeter)
	create = group user/Markus Wolf (KnisterPeter)
	push = +force group user/Markus Wolf (KnisterPeter)
	pushMerge = group user/Markus Wolf (KnisterPeter)
[access "refs/tags/*"]
	push = +force group user/Markus Wolf (KnisterPeter)
	pushTag = group user/Markus Wolf (KnisterPeter)
	pushSignedTag = group user/Markus Wolf (KnisterPeter)
