<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %X{IP} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="Rhino" level="DEBUG" />
  <logger name="ro.isdc.wro" level="DEBUG" />
  <logger name="ro.isdc.wro.config.Context" level="INFO" />
  <logger name="ro.isdc.wro.model.group.processor" level="INFO" />
  <logger name="ro.isdc.wro.model.resource.processor.support" level="INFO" />
  <logger name="ro.isdc.wro.model.resource.processor.factory.ConfigurableProcessorsFactory" level="INFO" />
  <logger name="ro.isdc.wro.model.resource.processor.impl.css" level="INFO" />
  <logger name="ro.isdc.wro.model.transformer.WildcardExpanderModelTransformer" level="INFO" />
  <logger name="ro.isdc.wro.manager.factory.standalone.DefaultStandaloneContextAwareManagerFactory" level="INFO" />
  <logger name="org.apache" level="INFO" />
  <logger name="com.sinnerschrader.smaller" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
